appdirs==1.4.3
aylien-apiclient==0.6.0
click==6.7
Flask==0.12.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.6
logging==0.4.9.6
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
slackbot==0.4.1
slackclient==1.0.5
slacker==0.9.42
websocket-client==0.40.0
Werkzeug==0.12.1
